<div class="bsa well" style="padding-top:80px;">
<h1 style="text-align:center;">Application name: <strong><%= app_name %></strong></h1>
<div class="container-fluid" style="margin-top:80px;">
    <div class="row-fluid">
        <div class="span4">
<table class="table table-bordered table-striped table-hover">
    <tr>
        <td><h4> Create a Static page</h4></td>
    </tr>
        <tr><td>
        <h4>Create a Form</h4></td>
    </tr>
        <tr><td>
        <h4>Choose a Theme</h4></td>
    </tr>
        <tr><td>
        <h4>Add a login system</h4></td>
    </tr>
            <tr><td>
        <h4>Preview project</h4></td>
    </tr>
    <tr><td>
        <h4>Finish and download the project</h4></td>
    </tr>
    <tr><td>
        <h4>Delete the project</h4></td>
    </tr>

</table>
</div>


<div class="span8">
    <h2> Preview and stuff go here </h2>
    </div>
    </div>
    </div>
</div>
