

<div class="editor">
    <%= text_area :editor, 1, :cols => 40 , value: "<html><h1>Hello EW</h1></html>" %>
</div>
<script type="text/javascript" src="/ckeditor.js"></script>
<script type="text/javascript" src="/adapters/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    if ($('textarea').length > 0) {
        var data = $('textarea');
        $.each(data, function(i) {
            CKEDITOR.replace(data[i].id);
        });
    }
    CKEDITOR.config.contentsCss = ['/assets/bootstrap.min.css'];
    CKEDITOR.config.allowedContent = true;
});
</script>